name: CI/CD Loyalty Service to Yandex Cloud

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  deploy-yc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Yandex Cloud Container Registry
        uses: docker/login-action@v3
        with:
          registry: cr.yandex/${{ secrets.YC_REGISTRY_ID }}
          username: json_key
          password: ${{ secrets.YC_KEYS }}

      - name: Build and push to Yandex Cloud
        run: |
          IMAGE_TAG=cr.yandex/${{ secrets.YC_REGISTRY_ID }}/coffee-loyalty:latest
          docker build -t $IMAGE_TAG ./loyalty-service
          docker push $IMAGE_TAG
          echo "Image pushed to Yandex Cloud Registry"
