name: CI/CD for CoffeeShop-Microservices

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install pytest fastapi uvicorn httpx pydantic uuid6

      - name: Run tests
        run: |
          echo "=== Running tests in review-service ==="
          cd review-service && pytest -v
          cd ..
          echo "=== Running tests in loyalty-service ==="
          cd loyalty-service && pytest -v

  build-docker:
    runs-on: ubuntu-latest
    needs: test  # Только если тесты прошли
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push review-service
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/coffee-review:latest ./review-service
          docker push ${{ secrets.DOCKER_USERNAME }}/coffee-review:latest

      - name: Build and push loyalty-service
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/coffee-loyalty:latest ./loyalty-service
          docker push ${{ secrets.DOCKER_USERNAME }}/coffee-loyalty:latest

  success:
    runs-on: ubuntu-latest
    needs: build-docker
    steps:
      - run: echo "CI/CD pipeline completed successfully! Images pushed to Docker Hub."