name: CI/CD Review Service to Yandex Container Registry

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  deploy-serverless:
    runs-on: ubuntu-latest
    needs: deploy-yc
    steps:
      - uses: actions/checkout@v4

      # Установка yc CLI
      - name: Install yc CLI
        run: |
          curl -sSL https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash
          echo "$HOME/yandex-cloud/bin" >> $GITHUB_PATH

      # Авторизация в Yandex Cloud
      - name: Auth to Yandex Cloud
        run: |
          echo '${{ secrets.YC_KEYS }}' > key.json
          yc config set service-account-key key.json

      # Создание новой ревизии Serverless Container
      - name: Deploy Serverless Container
        run: |
          yc serverless container revision create \
            --container-name ${{ secrets.YC_CONTAINER_NAME }} \
            --cloud-id <YOUR_CLOUD_ID> \
            --folder-id ${{ secrets.YC_FOLDER_ID }} \
            --image cr.yandex/${{ secrets.YC_REGISTRY_ID }}/coffee-loyalty:latest \
            --memory 128m \
            --cores 1 \
            --execution-timeout 5s \
            --environment POSTGRES_URL="postgresql://secUREusER:StrongEnoughPassword@51.250.26.59:5432/"
  
