name: CI/CD Loyalty Service to Yandex Cloud

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install pytest fastapi uvicorn httpx pydantic uuid6

      - name: Run tests
        run: |
          cd loyalty-service
          PYTHONPATH=. pytest -v tests

  deploy-yc:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4

      - name: Login to Yandex Cloud Container Registry
        uses: docker/login-action@v3
        with:
          registry: cr.yandex/${{ secrets.YC_REGISTRY_ID }}
          username: json_key
          password: ${{ secrets.YC_KEYS }}

      - name: Build and push to Yandex Cloud
        run: |
          IMAGE_TAG=cr.yandex/${{ secrets.YC_REGISTRY_ID }}/coffee-loyalty:latest
          docker build -t $IMAGE_TAG ./loyalty-service
          docker push $IMAGE_TAG
          echo "Image pushed to Yandex Cloud Registry"