name: CI/CD Review Service to Yandex Container Registry

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install pytest fastapi uvicorn httpx

      - name: Run tests
        run: |
          cd review-service
          PYTHONPATH=. pytest -v

      # ---------- Yandex Cloud auth ----------
      - name: Install yc CLI
        run: |
          curl -sSL https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash
          echo "$HOME/yandex-cloud/bin" >> $GITHUB_PATH

      - name: Auth to Yandex Cloud
        run: |
          echo '${{ secrets.YC_KEYS }}' > key.json
          yc config set service-account-key key.json

      # ---------- Docker login to YCR ----------
      - name: Login to Yandex Container Registry
        run: |
          yc container registry configure-docker

      # ---------- Build & push ----------
      - name: Build and push image
        run: |
          docker build \
            -t cr.yandex/${{ secrets.YC_REGISTRY_ID }}/coffee-review:latest \
            ./review-service

          docker push cr.yandex/${{ secrets.YC_REGISTRY_ID }}/coffee-review:latest

          
          
          
