name: CI/CD Loyalty Service to Yandex Cloud

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  deploy-yc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Yandex Cloud Container Registry
        uses: docker/login-action@v3
        with:
          registry: cr.yandex/${{ secrets.YC_REGISTRY_ID }}
          username: json_key
          password: ${{ secrets.YC_KEYS }}

      - name: Build and push Docker image
        run: |
          IMAGE_TAG=cr.yandex/${{ secrets.YC_REGISTRY_ID }}/coffee-loyalty:latest
          docker build -t $IMAGE_TAG ./loyalty-service
          docker push $IMAGE_TAG


  deploy-serverless:
    runs-on: ubuntu-latest
    needs: deploy-yc
    steps:
      - uses: actions/checkout@v4

      - name: Install yc CLI
        run: |
          curl -sSL https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash
          echo "$HOME/yandex-cloud/bin" >> $GITHUB_PATH

      - name: Auth to Yandex Cloud
        run: |
          echo '${{ secrets.YC_KEYS }}' > key.json
          yc config set service-account-key key.json

      - name: Deploy Serverless Container
        run: |
          yc serverless container revision deploy \
            --container-name ${{ secrets.YC_CONTAINER_NAME }} \
            --cloud-id ${{ secrets.YC_CLOUD_ID }} \
            --folder-id ${{ secrets.YC_FOLDER_ID }} \
            --image cr.yandex/${{ secrets.YC_REGISTRY_ID }}/coffee-loyalty:latest \
            --memory 128m \
            --cores 1 \
            --execution-timeout 5s \
            --environment POSTGRES_URL="${{ secrets.POSTGRES_URL }}"
